<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body>
  <header>
    {% include header.html %}
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    {% include footer.html %}
  </footer>

  {% if page.comments %}
    <div id="utterances">
      <script src="https://utteranc.es/client.js"
              repo="hhee4455/hhee4455.github.io"
              issue-term="pathname"
              label="comments"
              theme="github-dark"
              crossorigin="anonymous"
              async>
      </script>
    </div>
  {% endif %}
</body>
</html>
